* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: tahoma;
    font-size: 62.5%;
}
header {
    background-color: #0e86d4;
    color: #FFF;
    }
#logo {
    font-size: 5em;
    padding: 8px;
    padding-left: 15px;
    }
header div {
    float: right;
    margin-right: 2.5em;
    font-size: 2em;
    padding-top: 1.2em;
}
a {
    color: #000;
}
header a {
    text-decoration: none;
    color:#FFF;
    margin-right: 1em;
    margin-bottom: 2em;
}
header .right:hover {
    color:rgb(54, 80, 102);
}
.clear {
    clear: both;
}
 /*********NAV*****************/   
nav {
    background-image: url('images/Layer1.jpg');
    height: 12em;
    background-position: bottom;
    padding-top: 1.8em;
    background-size: cover; /*Author: Anne O Brien*/
}
nav > div { /* search bar */
    width: 80%;
    margin:auto;
    margin-top: 2em;
    margin-bottom: auto;
    height: 6em;
    background-color: #FFF;
    border-radius: 25px;

}
nav div div {
    float: right;
    margin-right: 4%;
    border-color: #060606;
    text-align: center;
    padding-top: 1em;
    margin-right: 1.2em;
    border-left: 2px solid rgb(115, 113, 113);
    padding-bottom: 1.6em;
    padding-left: 1rem;
    width: 8%;

}
nav input { /*search button*/
    height: 3rem;
    margin: 0.5rem;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 20px;
    border: none;
}
nav input:hover {
    background-color: #a9d0ea;
}
textarea {
    font-size: 1.7em;
    border: none;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;

}

#text {
    float: left;
    margin-left: 3em;
    border: 0px;
}
nav input {
    float: right;
}
nav fieldset { 
    font-size: 1.4em;
    border: none;
}
select {
    border: none;
    
}
/*********ASIDE*****************/
aside {
    float: left;
    width: 25em;
    background-color: rgb(242, 245, 244);
    height: 150vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 8em;
    padding-left: 1.5em;
    
}

aside fieldset { 
    font-size: 1.8em;
    border: none;
    margin-top: 1em;
}
aside legend { /*popular filtres*/
    font-size: 1.5em;
    padding-bottom: 0.3em;

}

aside h2 {  /*Filtres*/
    margin-top: 1em ;
    margin-bottom: 0.7em;
    font-size: 3em;
}
/*********CONTENT*****************/
.place {
    float: left;
    border-width: 1px;
    border-color: #000;
    background-color: rgb(242, 245, 244);
    margin-right: 4em;
    /************** Title: How TO - CSS Shadow Effects * Author: w3schools.com

* Site owner/sponsor: w3schools.com * 
* Availability: https://www.w3schools.com/css/css3_shadows.asp (Accessed 2 Dec 2024) 
* Modified: no modified *****************************************************/
transform: scale(1.02); /* ref */
    box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.4);/* ref */
    width: 33em;
    height: 25em;
    border-radius: 15px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    margin-bottom: 5em;
}

content >p:first-of-type { /* ref */
    font-size: 3em;
    text-align: left;
    padding-bottom: 2em;
    padding-top: 1em;

}
content article {
    padding: 0px;
    
}
article img {
    width: 100%;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
}
article img:hover {
    /************** Title: How TO - Zoom on Hover * Author: w3schools.com

* Site owner/sponsor: w3schools.com * 
* Availability: https://www.w3schools.com/howto/howto_css_zoom_hover.asp (Accessed 2 Dec 2024) 
* Modified: no modified *****************************************************/
    transform: scale(1.02); /* ref */
    transition: transform 0.3s ease;}
article div p {
    font-size: 1.7em ;
    padding-left: 7%;
    padding-top: 5px;
    float: left;
}
article .dest {
    font-size: 1.8em;
}
article .price p{
    float: right;
    font-size: 1.5em;
    text-align: center;
    padding-right: 13%;
}
.euro {
    font-size: 1.8em; 
    
}
article a {
    color:#000;
}
/***************FOOTER*****/
footer {
    width: 100%;
    height: 10em;
    font-size: 1.5em;
    background-color: rgb(58, 145, 222);
}
footer div {
    /*background-color: #000;*/
    margin-left: 10rem;
    padding-top: 4em ;
    width: 15em;
}
footer div p {
    color:#FFF;
    background-color:#0d476d ;
    padding: 0.5em;
    float: left;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 8em;
}
footer span {
    margin-left: 5em;
    color:#FFF;
    font-size: 1.2em;
    text-decoration:underline ;

}

/*-----------------------*/
content .choice {
    height: 10rem;
    float:left;
    width: 60%;
    background-color: rgb(242, 245, 244);
    /************** Title: How TO - CSS Shadow Effects * Author: w3schools.com

* Site owner/sponsor: w3schools.com * 
* Availability: https://www.w3schools.com/css/css3_shadows.asp (Accessed 2 Dec 2024) 
* Modified: no modified *****************************************************/
    box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.4);/* ref */
    border-radius: 15px;
    margin-bottom: 2em;
}
#cont div p:first-of-type {
    margin-top: 0.6rem;
    font-size: 3em;
    margin-bottom: 0.7rem;
}
#cont div p {
    font-size: 1.5em;
    margin-bottom: 0.3rem;
}
.choice img {
    height: 87%;
    border-radius: 15px;
    margin:0.6em;
    border: 5px solid #d4e3ed;
    float: left;
    margin-right: 3em;
}
.choice .star {
    color:rgb(255, 215, 0);
    font-size: 2em;
}
#cont .hotelInfo {
    float: left;
}
#cont .price {
    float: right;
    font-size: 0.4em;
    text-align: center;
    padding-right: 5%;
    margin-bottom: 0em;
    color: #6c6b6b;
    margin-top: 3em;;
}
#cont .euro {
    font-size: 2.3rem;
    text-align: center;
    color: #000;
}

#cont .button {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0.2em;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    color: #ffffff;
    background-color: #0e86d4;
    border-radius: 10px;
}
footer {
    float: left;
}

/*--------------signup.html---------*/

#signup label {
    display: table-cell;
    font-size: 1.2em;
    margin: 1em;
    width: 6em;

}
#signup h1 {
    text-align: center;
    margin-top: 2em;
}
#signup input {
    display: table-cell;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 4px;
    border-width: 0.1px;
    margin-right: 1em;
}
#signup fieldset {
    border: none;
}
.row {
    display: table-row;
}
#signup fieldset {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}
#signup legend {
    font-size: 1.2em;
}
#signup form {
    border: 1px solid #000;
    border-radius: 5px;
}


#signup {
    width: 40%;
    margin: 0 auto; /*Author: Anne O Brien*/
}






#signup form { 
    width:50%;
    margin:0 auto;
  }
  
 
  
  .row {
    display: table-row;
  }

  .layout {
    display: table-cell;
    margin-bottom: 10px;
  }

#lastfield{
    margin-left: 0%;
}




#submit {
    width: 100%;
    padding: 0.5em;
    font-weight: bold;
    background-color: #0e86d4;
    color:#FFF;
    margin-left: 0px !important;

}
#reset {
    width: 100%;
    padding: 0.5em;
    font-weight: bold;
    background-color: #ffffff;
    border-width: 1px;
    margin-left: 0;
    float: left;
    margin-left: 0px !important;
    margin-bottom: 0.5em;
}
.signfooter {
    width: 23%;
    margin: 0 auto; /*Author: Anne O Brien*/
    border-top: 1px solid rgb(165, 164, 165);
    margin-top: 1em;
}
.signfooter p {
    text-align: center;
    margin: 0.5em 0.5em;
}
/****************/
#map ul {
    font-size: 2rem;
    margin: 2rem;
    list-style-type: none;
}
#map li {
    margin-top: 1rem;
}
#map a {
    text-decoration: none;
    color:#0d476d;
    margin: 1rem;
}
#mapfooter {
    height: 70vh;
}